<div class="editform">
  <div class="form-group">
    <label for="exampleInputEmail1">Todo Name</label>
    <input type="text" class="form-control" id="todoname" ng-model="$ctrl.todoObject.todoName">
    <input type="hidden" class="form-control" id="todoid" ng-model="$ctrl.todoObject.id">
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <input type="text" class="form-control" id="description"  ng-model="$ctrl.todoObject.description">
    </div>
    <button type="submit" ng-click="$ctrl.sendEditedTodo()" class="btn btn-primary">Submit</button>
  </div>
</div>