table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 30px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.strike {
  text-decoration: line-through;
}
.editform {
  justify-content: center;
  width: 50%;
  border-style: solid;
  padding: 30px;
  margin-left: 200px;
}
.submitbtn {
  background-color: #0000ff;
  border-radius: 5px;
  border: 1px solid;
  color: white;
}
.edittodobtn {
  background-color: blueviolet;
  border-radius: 5px;
  border: 1px solid;
  color: white;
}
.deletetodobtn {
  background-color: red;
  border-radius: 5px;
  border: 1px solid;
  color: white;
}
.addtodobtn {
  background-color: greenyellow;
  border-radius: 5px;
  border: 1px solid;
  color: black;
}
.allalert {
  width: 100%;
  height: 10%;
  background-color: #32cd32;
  padding: 5px;
  border-radius: 12px;
}
