<button type="button" ng-click="$ctrl.showAddTodo()" class="addtodobtn">
  Add Todo
</button>
<br /><br />
<div class="allalert" role="alert" ng-if="$ctrl.alert">
  <p>SuccessFully {{$ctrl.alertTitle}}!</p>
</div>
<table ng-if="$ctrl.showTodoList">
  <tr>
    <th>Check</th>
    <th>TodoName</th>
    <th>Discription</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="todo in $ctrl.todoList">
    <td>
      <input
        ng-click=""
        ng-model="deleted"
        type="checkbox"
        id="exampleCheck1"
      />
    </td>
    <td ng-class="{strike:deleted}">{{todo.todoName}}</td>
    <td>{{todo.description}}</td>
    <td>
      <button
        type="button"
        ng-click="$ctrl.showEditTodo(todo)"
        class="edittodobtn"
      >
        Edit
      </button>
      <button
        type="button"
        ng-click="$ctrl.deleteTodo(todo)"
        class="deletetodobtn"
      >
        Delete
      </button>
    </td>
  </tr>
</table>

<edit-todo ng-if="$ctrl.showEditForm" todo-object="$ctrl.todoObject" on-update-todo="$ctrl.onUpdateTodo"></edit-todo>
<add-todo ng-if="$ctrl.showAddForm" on-add-todo="$ctrl.onAddTodo"></add-todo>